#splash
{
	background: #000 url(../images/splash.png) no-repeat top left;
	height: 100%;
	opacity: 1;
	visibility: hidden;
}

#splash div
{
	display: -webkit-box;
	display: -ms-flexbox;
	
	height: 100%;
	width: 100%;
	
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	
	-ms-flex-orient: vertical;
	-ms-flex-align: center;
	-ms-flex-pack: center;
}

#splash img
{
	display: block;
	opacity: 0;
	margin-top: -50px;
}